{% extends "base_admin.html" %}
{% load static %}
{% block title %} Administradores{% endblock %}
{% block contend %}

{% include 'admin_templates/actions/adminCreate/offcanvasRightAdminCreate.html' %}
{% include 'admin_templates/actions/adminDetail/offcanvasRightAdminDetail.html' %}
{% include 'admin_templates/actions/adminUpdate/offcanvasRightAdminUpdate.html' %}
{% include 'admin_templates/actions/adminDelete/modalAdminDelete.html' %}
       


  <div class="w-100 d-flex mt-2">
      <span class="w-100 text-end">
      <button type="button" class="btn btn-outline-success shadow-sm border-2 border-success px-4"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightAdminCreate" aria-controls="offcanvasRight"
      >
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        </button>
    </span>
  </div>
  

  <form class="row g-3 py-4"
          method="GET"
          id="AdminFilters"
          hx-get="{% url 'admin_table_results' %}"
          hx-target="#AdminTableResults"
          hx-swap="innerHTML"
          hx-trigger="submit"
          hx-indicator="#spinnerAdminFilter,#spinner">
    
    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
      <label for="inputAdminUsernameFilter" class="form-label">Nombre de usuario</label>
      <input type="text" name="username" class="form-control" id="inputAdminUsernameFilter" placeholder="Nombre de usuario">
    </div>
    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
      <label for="inputAdminPhoneNumberFilter" class="form-label">Móvil</label>
      <input type="text" name="phone_number" class="form-control" id="inputAdminPhoneNumberFilter" placeholder="Móvil">
    </div>
    <div class="col-6  col-sm-4 col-md-4 col-lg-3">
        <label for="inputAdminEmailFilter" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputAdminEmailFilter" placeholder="Email">
    </div>
    <div class="col-6  col-sm-4 col-md-4 col-lg-3">
      <label for="inputAdminDNIFilter" class="form-label">DNI</label>
      <input type="text" name="dni" class="form-control" id="inputAdminDNIFilter" placeholder="DNI">
  </div>
    {% if groups %}
      <div class="col-6  col-sm-4 col-md-4 col-lg-3">
        <label for="inputAdminRoleFilter" class="form-label">Rol</label>
        <select id="inputAdminRoleFilter" name="groups" class="form-select" aria-label="Select group">
          <option value='' selected>Selecciona el rol</option>
          {% for group in groups %}
            <option value="{{group.id}}">{{group.name}}</option>
          {% endfor %}
        </select>
    </div>
    {% endif %}
    
    
    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
      <label for="inputActiveFilter" class="form-label">Activo</label>
      <select id="inputActiveFilter" name="is_active" class="form-select">
        <option value='' selected>El administrador está activo?</option>
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
    
    <div class="col-12">
      <small class=" w-100 d-flex justify-content-end mt-3">
          <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5">
            <span id="spinnerAdminFilter" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>Filtrar</button>
      </small>
  </div>
  </form>

  


  


 <div 
 hx-get="{% url 'admin_table_results' %}"
 hx-target="#AdminTableResults"
 hx-trigger="load"
 hx-swap="innerHTML"
 hx-indicator="#spinner"></div>

  <div class="w-100 position-relative d-flex justify-content-center align-items-center">
    <div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="w-100" id="AdminTableResults">
      
    </div> 
  </div>
  
 
{% endblock contend %}

        
