{% load static %}

{% if form %}
<form method="POST" enctype="multipart/form-data" class="form" hx-post="{% url 'change_information'%}" hx-swap="innerHTML"
hx-trigger="submit" hx-target="#updateInformation">
    {% csrf_token %}
    
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 col-12 mb-2"> 
            <div class="form-group p-2">
                <label for="{{ form.username.id_for_label }}" class="control-label">Username</label>
                <input type="text" class="form-control" required name="username" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-12 mb-2"> 
            <div class="form-group p-2">
                <label for="{{ form.email.id_for_label }}" class="control-label">Email</label>
                <input type="email" required name="email" class="form-control" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default_if_none:'' }}">
                {% if form.email.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-2"> 
            <div class="form-group p-2">
                <label for="{{ form.dni.id_for_label }}" class="control-label">DNI</label>
                <input type="text"  name="dni" class="form-control" id="{{ form.dni.id_for_label }}" value="{{ form.dni.value|default_if_none:'' }}">
                {% if form.dni.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.dni.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
 


        <div class="col-md-4 col-sm-6 col-12 mb-2"> 
            <div class="form-group p-2">
                <label for="{{ form.first_name.id_for_label }}" class="control-label">Nombres</label>
                <input type="text" class="form-control"  name="first_name" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default_if_none:'' }}">
                {% if form.first_name.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.first_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-12 mb-2">
            <div class="form-group p-2">
                <label for="{{ form.last_name.id_for_label }}" class="control-label">Apellidos</label>
                <input type="text" class="form-control"  name="last_name" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default_if_none:'' }}">
                {% if form.last_name.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.last_name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>

    <div class="col-md-4 col-sm-6 col-12 mb-2">
        <div class="form-group p-2">
            <label for="{{ form.phone_number.id_for_label }}" class="control-label">Número móvil</label>
            <input type="tel" class="form-control"  name="phone_number" id="{{ form.phone_number.id_for_label }}" value="{{ form.phone_number.value|default_if_none:'' }}">
            {% if form.phone_number.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.phone_number.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-12 mb-2">
        <div class="form-group p-2">
            <label for="{{ form.country.id_for_label }}" class="control-label">País</label>
            <input type="text" class="form-control"  name="country" id="{{ form.country.id_for_label }}" value="{{ form.country.value|default_if_none:'' }}">
            {% if form.country.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.country.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 mb-2">
        <div class="form-group p-2">
            <label for="{{ form.city.id_for_label }}" class="control-label">Ciudad</label>
            <input type="text" class="form-control"  name="city" id="{{ form.city.id_for_label }}" value="{{ form.city.value|default_if_none:'' }}">
            {% if form.city.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.city.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
        
    <div class="col-md-4 col-sm-6 col-12 mb-2">
        <div class="form-group p-2">
            <label for="{{ form.address.id_for_label }}" class="control-label">Dirección</label>
            <input type="text" class="form-control"  name="address" id="{{ form.address.id_for_label }}" value="{{ form.address.value|default_if_none:'' }}">
            {% if form.address.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.address.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    
    </div>
    {% if  message %}
        <div class="alert alert-dismissible alert-success d-flex align-items-center mb-2 px-2 fade show" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2 bi-check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <div class="small">
              {{message}}
            </div>
            <span type="button" class="btn-close px-2" data-bs-dismiss="alert" aria-label="Close"></span>
          </div>
      {% endif %}
      <span class="w-100 d-flex justify-content-center justify-content-sm-end mt-3 ">
        <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5" hx-indicator="#spinner" hx-disable="true">
            <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm me-2" style="display:none;"></span>
            Confirmar cambios
        </button>
        
    </span>      
   
</form>
{% else %}
No existe
{% endif %}
