* {
  scrollbar-width: thin;
  scrollbar-color: rgb(126, 126, 130) transparent;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.dropdown-toggle::after {
  display: none;
  
}

.bg-delete{
  background: #de4353 !important;
}

.bg-create{
  background: #2eb05e !important;
}


.color-view{
  color: #00acee;
}

.color-delete{
  color: #de4353 !important;
}

.color-create{
  color: #2eb05e !important;
}

.bg-edit{
  background: #dd7e30 !important;
}

.form-floating>label {

  left: 10px !important;
 
}

.table-min{
  min-width: 200px !important;
}

.table-min-code{
  min-width: 150px !important;
}

.table-min-date{
  min-width: 250px !important;
}

.table-min-reports{
  min-width: 320px !important;
}


/*
 * Sidebar
 */

 .side-fix{
  position: relative;
}



@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
  .side-fix{
    position: fixed;
  }
}




.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}


.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


.actions{
  min-width: 120px;
  overflow: hidden;
}


.bi-whatsapp:hover,
.bi-whatsapp:focus{
  cursor: pointer;
  color: #25D366;
  transition: all .3s;
}

.bi-facebook:hover,
.bi-facebook:focus{
  cursor: pointer;
  color: #3b5998;
  transition: all .3s;
}

.bi-twitter:hover,
.bi-twitter:focus{
  cursor: pointer;
  color: #00acee;
  transition: all .3s;
}

.bi-instagram:hover,
.bi-instagram:focus{
  cursor: pointer;
  color:  #c13584;
  transition: all .3s;
}

.cursor-pointer{
  cursor: pointer !important;
  
  transform: scale(1) !important;
  transition: all 0.3s !important;
}

.cursor-pointer:hover{
  transform: scale(.99) !important;
}

.table-width-50{
  width: 50px !important ;
}

.table-width-80{
  width: 80px !important ;
}

.table-width-100{
  width: 100px !important ;
}


.card-section{
  transform: scale(1);
  transition: all .3s;
  
}

.card-section:hover{
  transform: scale(.99);

}

.card-operations{
  transform: scale(1);
  transition: all .3s;
}

.card-operations:hover{
  transform: scale(.99);
}


.bi{
  vertical-align: -.125em !important;
  fill: currentColor;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.htmx-indicator {
  display: none !important;
  opacity: 1;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display:flex !important;
}

.loadding-blur{
 
  background: var(--bs-body-bg.2) !important;
  backdrop-filter: blur(2px) !important;
}

.cursor-none{
  cursor: no-drop !important;
}


.bg-indigo-subtle{
  background-color: #ae8cf1 !important;
}

.text-indigo{
 color: #5518d0 !important;
}

.border-indigo{
  border-color: #5518d0  !important;
}

.dark .bg-indigo-subtle{
  background-color: #390f8d !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 25px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.blur{
  /* background: rgba(9, 9, 9, 0) !important; */
  background: linear-gradient(45deg, rgba(26, 112, 233, 0.67),rgba(0, 0, 0, 0.036)) !important;
  backdrop-filter: blur(2px) !important;
}

.blur-font{
  background: rgba(0, 0, 0, 0) !important;
  /* background: linear-gradient(45deg, rgba(26, 112, 233, 0.67),rgba(0, 0, 0, 0.036)) !important; */
  backdrop-filter: blur(12px) !important;
}

.trasform-top{
  transform: translateY(-120px) translateX(-40px) !important;
 
}

.trasform-bottom{
  transform: translateY(100px) translateX(40px) !important;
 
}

.fs-0{
  font-size: 3.8rem !important;
}

.h-fit{
  height: fit-content !important;
}

.dj-animate{
  transform: rotate(0);
  animation:  10s animateDJ linear infinite !important;
}

@keyframes animateDJ {
    0%{
      transform: rotate(30deg);
    }
    50%{
      transform: rotate(-30deg);
    }
    100%{
      transform: rotate(30deg);
    }
}

.custom-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #fb0808;
  z-index: 9999;
}
.progress-value {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.text-ellipsis-username{
  max-width: 130px; /* Ancho máximo del elemento */
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  line-height: 20px;
}

@media (max-width: 400px) {
  .text-ellipsis-username{
    max-width: 60px; /* Ancho máximo del elemento */
  }
}

.text-ellipsis{
  max-width: 80px; /* Ancho máximo del elemento */
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  line-height: 20px;
}

.text-ellipsis-120{
  max-width: 120px !important; /* Ancho máximo del elemento */
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  line-height: 20px;
}

.text-ellipsis-150{
  max-width: 150px !important; /* Ancho máximo del elemento */
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  line-height: 20px;
}

.hidden-on-top {
  display: none;
}

.show-on-scroll {
  display: block !important;
}
