<!-- Offcanvas Local Create -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightLocalCreate" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Crear almacén</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" 
      hx-get="{% url 'local_create'%}"
      hx-swap="innerHTML"
      hx-target="#LocalCreateForm"
      hx-trigger="load">
      
      <div id="LocalCreateForm"></div>

      
      
      
    </div>
  </div>
  <!-- End Offcanvas Category Create -->
  