{% extends "base_admin.html" %}
{% load static %}
{% block title %} Ventas Completadas{% endblock %}
{% block contend %}


{% include 'reports_templates/order_templates/actions/orderDetail/offcanvasRightOrderDetail.html' %}

<form class="row g-3  pb-4"
      method="GET"
      id="OrderFilters"
      hx-get="{% url 'reports_order_table_results' %}"
      hx-target="#OrderTableResults"
      hx-swap="innerHTML"
      hx-trigger="submit"
      hx-indicator="#spinnerOrderFilter,#spinner">

      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <label for="inputOrderCodeFilter" class="form-label">Código</label>
        <input type="text" name="id" class="form-control" id="inputOrderCodeFilter" placeholder="Código">
      </div>
      
      
        <div class="col-6  col-sm-4 col-md-4 col-lg-2">
          <label for="inputOrderPlaqueFilter" class="form-label">Placa</label>
          <input type="text" name="client_car_plaque" class="form-control" id="inputOrderPlaqueFilter" placeholder="Placa">
        </div>
        <div class="col-6  col-sm-4 col-md-4 col-lg-2">
          <label for="inputOrderEmailFilter" class="form-label">Cliente email</label>
          <input type="text" name="client" class="form-control" id="inputOrderEmailFilter" placeholder="Cliente email">
        </div>
        <div class="col-6  col-sm-4 col-md-4 col-lg-3">
          <label for="inputOrderCreatedUserFilter" class="form-label">Creador(username)</label>
          <input type="text" name="created_user_username" class="form-control" id="inputOrderCreatedUserFilter" placeholder="Nombre de usuario(username)">
        </div>
        <div class="col-6  col-sm-4 col-md-4 col-lg-3">
          <label for="inputOrderServiceFilter" class="form-label">Servicio</label>
          <input type="text" name="service" class="form-control" id="inputOrderServiceFilter" placeholder="Servicio">
        </div>
        <div class="col-6  col-sm-4 col-md-4 col-lg-3">
          <label for="inputOrderExtraServiceFilter" class="form-label">Servicio Extra</label>
          <input type="text" name="extra_service" class="form-control" id="inputOrderExtraServiceFilter" placeholder="Servicio Extra">
        </div>
        {% if locals %}
      <div class="col-12  col-sm-4 col-md-4 col-lg-3">
        <label for="inputOrderLocalFilter" class="form-label">Instalación</label>
        <select id="inputOrderLocalFilter" name="local" class="form-select" aria-label="Default select example">
          <option value="" selected>Seleccionar instalación</option>
          {% for local in locals %}
          <option value="{{local.id}}">{{local.name}}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}  
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
          <label for="inputOrderCreateDate1Filter" class="form-label">Fecha inicial</label>
          <input type="date" name="created_at_after" class="form-control" id="inputOrderCreateDate1Filter" placeholder="Fecha inicial">
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
          <label for="inputOrderCreateDate2Filter" class="form-label">Fecha final</label>
          <input type="date" name="created_at_before" class="form-control" id="inputOrderCreateDate2Filter" placeholder="Fecha final">
        </div>
<div class="col-12">
  <small class=" w-100 d-flex justify-content-end mt-3">
      <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5">
        <span id="spinnerOrderFilter" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>Filtrar</button>
  </small>
</div>
</form>







<div 
hx-get="{% url 'reports_order_table_results' %}"
hx-target="#OrderTableResults"
hx-trigger="load"
hx-swap="innerHTML"
hx-indicator="#spinner"></div>

<div class="w-100 position-relative d-flex justify-content-center align-items-center">
<div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="w-100" id="OrderTableResults">
  
</div> 
</div>
 
{% endblock contend %}

        
