{% extends "base_admin.html" %}
{% load static %}
{% block title %} Locales {% endblock %}
{% block contend %}



{% include 'local_templates/actions/localCreate/offcanvasRightLocalCreate.html' %}
{% include 'local_templates/actions/localUpdate/offcanvasRightLocalUpdate.html' %}
{% include 'local_templates/actions/localDelete/modalLocalDelete.html' %}




<div class="w-100 d-flex">
  <span class="w-100 text-end">
  <button type="button" class="btn btn-outline-success shadow-sm border-2 border-success px-4"
  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightLocalCreate" aria-controls="offcanvasRight"
  >
    <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
    </button>
</span>
</div>


<form class="row g-3 py-4"
      method="GET"
      id="CategoryFilters"
      hx-get="{% url 'local_table_results' %}"
      hx-target="#LocalTableResults"
      hx-swap="innerHTML"
      hx-trigger="submit"
      hx-indicator="#spinnerLocalFilter,#spinner">

<div class="col-12 col-sm-4 col-md-4 col-lg-3">
  <label for="inputLocalNameFilter" class="form-label">Nombre</label>
  <input type="text" name="name" class="form-control" id="inputLocalNameFilter" placeholder="Nombre">
</div>
<div class="col-12 col-sm-4 col-md-4 col-lg-3">
  <label for="inputLocalAddressFilter" class="form-label">Dirección</label>
  <input type="text" name="address" class="form-control" id="inputLocalAddressFilter" placeholder="Dirección">
</div>

<div class="col-12">
  <small class=" w-100 d-flex justify-content-end mt-3">
      <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5">
        <span id="spinnerLocalFilter" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>Filtrar</button>
  </small>
</div>
</form>







<div 
hx-get="{% url 'local_table_results' %}"
hx-target="#LocalTableResults"
hx-trigger="load"
hx-swap="innerHTML"
hx-indicator="#spinner"></div>

<div class="w-100 position-relative d-flex justify-content-center align-items-center">
<div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="w-100" id="LocalTableResults">
  
</div> 
</div>
 
{% endblock contend %}

        
