<!-- Modal Client Create -->

<div class="modal fade" id="modalClientCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-content rounded-3 shadow">
          <div id="ClientCreate">
            {% include "clientCreate/clientCreateForm.html" %}
          </div> 
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Client Create -->
